@font-face {
    font-family: "GenEi M Gothic v2";
    src: url("assets/fonts/GenEiMGothic2-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Honoka Shin Antique-Kaku";
    src: url("assets/fonts/Honoka-Shin-Antique-Kaku_M.ttf") format("truetype");
}

@font-face {
    font-family: "Tsunagi Gothic Black";
    src: url("assets/fonts/TsunagiGothic.ttf") format("truetype");
}

@title-bar-height: 30px;

:root {
    --selectionColor: #a234fc;
    --titleActive: #ff4cd5;
    --subtitleColor: #ffffff;
    --subtitleTransform: translateY(0);
	--closeButton: #582eff;
	--minimizeButton: #8139ff;
	--maximizeButton: #b349ff;
	--textColor: #000000;
	--textColor2: #000000;
	--textStrokeColor: #000000;
	--barColor: #ffffff;
	--iconColor: #983dff;
	--navColor: #bcacff;
	--playerColor: #c8baff4d;
	--background: #ffffff;
    --activeColor: #57abff;
}

.dark {
	--closeButton: #582eff;
	--minimizeButton: #8139ff;
	--maximizeButton: #b349ff;
	--textColor: #ffffff;
	--textStrokeColor: #000000;
	--barColor: #000000;
	--iconColor: #a04cff;
	--navColor: #0f0929;
	--playerColor: #0f09294d;
	--background: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow-anchor: none;
}

html, body {
    background-color: var(--background);
    overflow-x: hidden !important;  
    overflow-y: hidden !important;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: visible;
}

p {
    margin-bottom: 0;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.app {
    animation: fadein 0.5s;
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 100%;
    height: 100%;
}

::selection {
    background-color: var(--selectionColor);
    color: white;
}

*::-webkit-scrollbar {
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, button:focus, select:focus {
    outline: none;
}

img, p {
    -webkit-user-drag: none;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

ul {
    list-style-type: none;
}